/* Brand Guide */
.prm-pink-t {
    color: #BC1A87
}
.prm-pink-bg {
    background-color: #BC1A87
}
.prm-blue-t {
    color: #22869C
}
.prm-blue-bg {
    background-color: #22869C
}

/* Profile */
.profile-blue {
    background-color: #041043;
}
#profile-image {
    height: 300px;
}
